<div id="user-info" class="well">
  <div class="text-center">
    <%= image_tag @user.avatar.url || 'avatar.jpg', class: 'profile-avatar' %>
    <h5><%= link_to @user.name, @user %></h5>
  </div>

  <h5>
    <% if @user.about.present? %>
      <%= @user.about %>
    <% else %>
      This person prefers to keep and air of mystery about them.
    <% end %>
  </h5>

  <% if @user.position.present? %>
    <h5>
      <%= fa_icon 'suitcase' %>
      <%= @user.position %>
    </h5>
  <% end %>


  <% if @user.affiliated_organization.present? %>
    <h5>
      <%= fa_icon 'building' %>
      <%= @user.affiliated_organization %>
    </h5>
  <% end %>



  <% if @user.location.present? %>
    <h5>
      <%= fa_icon 'map-marker' %>
      <%= @user.location %>
    </h5>
  <% end %>

  <br>
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
      <% if current_user.followed_by?(@user) and @user.followed_by?(current_user) and @user.linkedin.present? %>
        <%= link_to "LinkedIn", "#{@user.linkedin}" %>
      <% end %>
    <% end %>
  </div>
</div>
