<div class="well">
  <div id="mentionable-data" data-content="<%= mentionable_user_path(current_user) %>"></div>
  <%= form_for @post, html: { class: 'post_form' } do |f| %>

    <div class="form-group">
      <h4>Post Question/Dataset</h4>
      <div id="post-content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's your question?"></div>
      <%= f.hidden_field :content, value: @post.content, class: 'form-control input-mentionable', autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.text_field :data_set, value: "", placeholder: "Paste link to dataset",class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit 'Post', class: 'btn btn-primary'%>
    </div>

    <div class="form-group">
      <%= f.text_field :tag_list, 'data-role'=>'tagsinput' %>
    </div>

  <% end %>
</div>
